networks:
  carmentis-network:
    driver: bridge
services:
  email-oracle:
    container_name: ${ENV_TAG}-email-oracle
    environment:
    - OPERATOR_URL=${OPERATOR_URL}
    - SMTP_HOST=${SMTP_HOST}
    - SMTP_PORT=${SMTP_PORT}
    - SMTP_USER=${SMTP_USER}
    - SMTP_PASS=${SMTP_PASS}
    - ORACLE_KEY_PAIR=/app/data/oracle-keypair.json
    - PORT=3000
    image: ghcr.io/carmentis/oracle/email
    ports:
    - 5012:3000
    restart: always
    tty: true
    volumes:
    - ${EMAIL_ORACLE_KEYPAIR_FOLDER}:/app/data
  exchange-back:
    container_name: ${ENV_TAG}-exchange-back
    environment:
    - STANCER_API_KEY=${STANCER_API_KEY}
    - EXCHANGE_API=${EXCHANGE_API}
    - ISSUER_KEYPAIR_FILE=/app/config/issuer-keypair.json
    - NODE_URL=${NODE_URL}
    - PORT=3000
    image: ghcr.io/carmentis/exchange/back:${ENV_TAG}
    ports:
    - 5003:3000
    restart: always
    volumes:
    - ${EXCHANGE_ISSUER_KEYPAIR_FOLDER}:/app/config
  exchange-front:
    container_name: ${ENV_TAG}-exchange-front
    depends_on:
    - exchange-back
    environment:
    - EXCHANGE_API=${EXCHANGE_API}
    - PORT=3000
    image: ghcr.io/carmentis/exchange/front:${ENV_TAG}
    ports:
    - 5004:3000
    restart: always
  explorer:
    container_name: ${ENV_TAG}-explorer
    environment:
    - NODE_URL=${NODE_URL}
    - PORT=3000
    image: ghcr.io/carmentis/explorer:${ENV_TAG}
    ports:
    - 5005:3000
    restart: always
  file-sign-back:
    container_name: ${ENV_TAG}-file-sign-back
    environment:
    - OPERATOR_URL=${OPERATOR_URL}
    - EXPLORER_URL=${EXPLORER_URL}
    - JWT_SECRET=${FILE_SIGN_JWT_SECRET}
    - EMAIL_ORACLE_URL=${EMAIL_ORACLE_URL}
    - OPERATOR_API_KEY=${OPERATOR_API_KEY}
    - STORAGE=data
    - PORT=3000
    image: ghcr.io/carmentis/file-sign/back:${ENV_TAG}
    networks:
    - carmentis-network
    ports:
    - 5010:3000
    restart: always
    volumes:
    - ${FILE_SIGN_STORAGE_FOLDER}:/app/data
  file-sign-front:
    container_name: ${ENV_TAG}-file-sign-front
    depends_on:
    - file-sign-back
    environment:
    - API=${FILE_SIGN_API}
    - PORT=3000
    image: ghcr.io/carmentis/file-sign/front:${ENV_TAG}
    networks:
    - carmentis-network
    ports:
    - 5011:3000
  node-abci:
    container_name: node-abci
    environment:
    - PORT=26658
    - NODE_ABCI_STORAGE=/app/data
    image: ghcr.io/carmentis/node/abci:${ENV_TAG}
    ports:
    - '26658'
    volumes:
    - ${NODE_ABCI_STORAGE}:/app/data
  node-cometbft:
    command:
    - start
    - --abci
    - grpc
    - --proxy_app
    - node-abci:26658
    container_name: node-combetft
    depends_on:
    - node-abci
    image: cometbft/cometbft:1_x
    ports:
    - 26657:26657
    - 26658:26658
    volumes:
    - ${NODE_COMETBFT_CONFIG}:/app/data
  operator-back:
    container_name: ${ENV_TAG}-operator-back
    depends_on:
    - operator-db
    environment:
    - OPERATOR_POSTGRES_DB=${OPERATOR_POSTGRES_DB}
    - OPERATOR_POSTGRES_USER=${OPERATOR_POSTGRES_USER}
    - OPERATOR_POSTGRES_PASSWORD=${OPERATOR_POSTGRES_PASSWORD}
    - OPERATOR_POSTGRES_URL=operator-db
    - OPERATOR_POSTGRES_PORT=5432
    - OPERATOR_DB_ENCRYPTION_KEY=${OPERATOR_DB_ENCRYPTION_KEY}
    - OPERATOR_KEYPAIR_FILE=/app/config/operator-keypair.json
    - OPERATOR_ADMIN_TOKEN_FILE=/app/config/operator-admin-token.txt
    - NODE_URL=${NODE_URL}
    - JWT_SECRET=${OPERATOR_JWT_SECRET}
    - PORT=3000
    image: ghcr.io/carmentis/operator/back:${ENV_TAG}
    networks:
    - carmentis-network
    ports:
    - 5001:3000
    restart: always
    volumes:
    - ${OPERATOR_KEYPAIR_FOLDER}:/app/config
  operator-db:
    container_name: ${ENV_TAG}-operator-postgres
    depends_on:
    - dev-node
    environment:
    - POSTGRES_USER=${OPERATOR_POSTGRES_USER}
    - POSTGRES_PASSWORD=${OPERATOR_POSTGRES_PASSWORD}
    - POSTGRES_DB=${OPERATOR_POSTGRES_DB}
    image: postgres:15
    networks:
    - carmentis-network
    ports:
    - 5555:5432
    restart: always
    volumes:
    - ./operator_db:/var/lib/postgresql/data
  operator-front:
    container_name: ${ENV_TAG}-operator-front
    depends_on:
    - operator-back
    environment:
    - OPERATOR_URL=${OPERATOR_URL}
    - PORT=3000
    image: ghcr.io/carmentis/operator/front:${ENV_TAG}
    ports:
    - 5002:3000
version: '3.3'
