networks:
  carmentis-network:
    driver: bridge
services:
  dev-node:
    container_name: ${ENV_TAG}-dev-node
    environment:
    - PORT=3000
    - STORAGE_FOLDER=/app/blockchain
    image: ghcr.io/carmentis/dev-node:${ENV_TAG}
    ports:
    - 5000:3000
    restart: always
    volumes:
    - ${DEV_NODE_STORAGE_FOLDER}:/app/blockchain
  exchange-back:
    container_name: ${ENV_TAG}-exchange-back
    environment:
    - ISSUER_KEYPAIR_FILE=/app/config/issuer-keypair.json
    - NODE_URL=${NODE_URL}
    - PORT=3000
    image: ghcr.io/carmentis/exchange/back:${ENV_TAG}
    ports:
    - 5003:3000
    restart: always
    volumes:
    - ${EXCHANGE_ISSUER_KEYPAIR_FOLDER}:/app/config
  explorer:
    container_name: ${ENV_TAG}-explorer
    environment:
    - NODE_URL=${NODE_URL}
    - PORT=3000
    image: ghcr.io/carmentis/explorer:${ENV_TAG}
    ports:
    - 5005:3000
    restart: always
  file-sign-back:
    container_name: ${ENV_TAG}-file-sign-back
    environment:
    - OPERATOR_URL=${OPERATOR_URL}
    - EXPLORER_URL=${EXPLORER_URL}
    - JWT_SECRET=${FILE_SIGN_JWT_SECRET}
    - EMAIL_ORACLE_URL=${EMAIL_ORACLE_URL}
    - DEFAULT_APPLICATION_ID=${FILE_SIGN_DEFAULT_APPLICATION_ID}
    - DEFAULT_APPLICATION_VERSION=${FILE_SIGN_DEFAULT_VERSION}
    - HOST_DOMAIN_URL=unused
    - STORAGE=data
    - PORT=3000
    image: ghcr.io/carmentis/file-sign/back
    networks:
    - carmentis-network
    ports:
    - 5010:3000
    restart: always
    volumes:
    - ${FILE_SIGN_STORAGE_FOLDER}:/app/data
  file-sign-front:
    container_name: ${ENV_TAG}-file-sign-front
    depends_on:
    - file-sign-back
    environment:
    - API=${FILE_SIGN_API}
    - PORT=3000
    image: ghcr.io/carmentis/file-sign/front
    networks:
    - carmentis-network
    ports:
    - 5011:3000
  operator-back:
    container_name: ${ENV_TAG}-operator-back
    depends_on:
    - operator-db
    environment:
    - OPERATOR_DATABASE_NAME=${OPERATOR_POSTGRES_DB}
    - OPERATOR_DATABASE_USERNAME=${OPERATOR_POSTGRES_USER}
    - OPERATOR_DATABASE_PASSWORD=${OPERATOR_POSTGRES_PASSWORD}
    - OPERATOR_DATABASE_URL=operator-db
    - OPERATOR_DATABASE_PORT=5432
    - OPERATOR_DB_ENCRYPTION_KEY=${OPERATOR_DB_ENCRYPTION_KEY}
    - OPERATOR_KEYPAIR_FILE=/app/config/operator-keypair.json
    - OPERATOR_ADMIN_TOKEN_FILE=/app/config/operator-admin-token.txt
    - NODE_URL=${NODE_URL}
    - JWT_SECRET=${OPERATOR_JWT_SECRET}
    - PORT=3000
    image: ghcr.io/carmentis/operator/back:${ENV_TAG}
    networks:
    - carmentis-network
    ports:
    - 5001:3000
    restart: always
    volumes:
    - ${OPERATOR_KEYPAIR_FOLDER}:/app/config
  operator-db:
    container_name: ${ENV_TAG}-operator-postgres
    depends_on:
    - dev-node
    environment:
    - POSTGRES_USER=${OPERATOR_POSTGRES_USER}
    - POSTGRES_PASSWORD=${OPERATOR_POSTGRES_PASSWORD}
    - POSTGRES_DB=${OPERATOR_POSTGRES_DB}
    image: postgres:15
    networks:
    - carmentis-network
    ports:
    - 5555:5432
    restart: always
    volumes:
    - ./operator_db:/var/lib/postgresql/data
  operator-front:
    container_name: ${ENV_TAG}-operator-front
    depends_on:
    - operator-back
    environment:
    - OPERATOR_URL=${OPERATOR_URL}
    - PORT=3000
    image: ghcr.io/carmentis/operator/front:${ENV_TAG}
    ports:
    - 5002:3000
version: '3.3'
