networks:
  carmentis-network:
    driver: bridge
services:
  node-abci:
    container_name: node-abci
    environment:
    - PORT=26658
    - NODE_ABCI_STORAGE=/app/data
    image: ghcr.io/carmentis/node/abci:${ENV_TAG}
    ports:
    - '26658'
    volumes:
    - ${NODE_ABCI_STORAGE}:/app/data
  node-cometbft:
    command:
    - start
    - --abci
    - grpc
    - --proxy_app
    - node-abci:26658
    container_name: node-combetft
    depends_on:
    - node-abci
    image: cometbft/cometbft:1_x
    ports:
    - 26657:26657
    - 26658:26658
    volumes:
    - ${NODE_COMETBFT_CONFIG}:/app/data
version: '3.3'
