version: '3.9'

networks:
  carmentis-network:
    driver: bridge


services:
  node-abci:
    container_name: carmentis-node-abci
    image: ghcr.io/carmentis/node/abci:latest
    expose:
      - "26658"
    volumes:
      - ./cometbft:/cometbft
      - ./abci:/abci
      - ./config.toml:/app/config.toml
      - ./genesisRunoffs.json:/app/genesisRunoffs.json

    networks:
      - carmentis-network

  node-cometbft:
    container_name: carmentis-node-cometbft
    image: cometbft/cometbft:v1.x
    command:
      - start
      - --abci
      - grpc
      - --proxy_app
      - node-abci:26658
      - --rpc.laddr
      - tcp://0.0.0.0:26657
    depends_on:
      - node-abci
    ports:
      - 26656:26656
      - 26657:26657
    user: "1000"
    volumes:
      - ./cometbft:/cometbft
    networks:
      - carmentis-network

