version: '3.9'

networks:
  carmentis-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:

services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"        # HTTP
      - "443:443"      # HTTPS
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - carmentis-network
    depends_on:
      - node-cometbft
      - node-abci

  node-abci:
    container_name: node-abci
    image: ghcr.io/carmentis/node/abci:stable
    expose:
      - "26658"
    volumes:
      - ./cometbft:/cometbft
      - ./abci:/abci
      - ./config.toml:/app/config.toml
      # The genesis runoffs file is only used by the genesis node.
      # Uncomment the line below if you intend to run the genesis node to create a network.
      # Note: This file is optional.
      # - ./genesisRunoffs.json:/app/genesisRunoffs.json
    networks:
      - carmentis-network

  node-cometbft:
    container_name: node-cometbft
    image: cometbft/cometbft:v0.38.x
    command:
      - start
      - --abci
      - grpc
      - --proxy_app
      - node-abci:26658
      - --rpc.laddr
      - tcp://0.0.0.0:26657
    depends_on:
      - node-abci
    ports:
      - 26656:26656
      - 26657:26657
    user: "1000"
    volumes:
      - ./cometbft:/cometbft
    networks:
      - carmentis-network

